ion-content {
  --background: var(--ion-color-myColor-contrast);
}

#map{
  height: 600px;
}

#indicators {
  padding: 16px;
  height: 40%;
  width: 100%;
  overflow-y: auto;
  display: block;
}

b {
  color: var(--ion-color-myColor);
}

.btnToolBar {
  position: fixed;

  --background: var(--ion-color-myColor);

  --border-radius: 50%;

  width: 49px;
  height: 49px;

  top: 2px;
  left: 2px;
}

.btnMylocation {
  position: fixed;

  --background: var(--ion-color-myColor);

  --border-radius: 50%;

  width: 49px;
  height: 49px;

  bottom: 390px;
  right: 2px;
}

.iconoMenu {
  font-size: 64px;
  --ionicon-stroke-width: 50px;
}

.flota {
  background: var(--ion-color-myColor-contrast);

  position: fixed;

  width: 100%;
  height: 388px;

  bottom: 0;

  border-radius: 15px 15px 0 0;
}

.flotaSolicitud {
  background: var(--ion-color-myColor-contrast);

  position: fixed;

  width: 100%;
  height: 762px;

  bottom: 0;

  border-radius: 15px 15px 0 0;
}

.slidesContainer {
  margin-top: 32px;
}

.flexcenter {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  color: black;

  font-family: Segoe UI;
  font-size: 20px;
}

.mod {
  margin-top: 35px;
}

.labeltext {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-label {
  font-family: Segoe UI;
  font-size: 20px;
}

.input {
  --background: var(--ion-color-myColor-contrast);

  margin-top: 21px;
  height: 66px;

  border: 1px solid #CDD4D9;
  border-radius: 8px;

  transition: .3s all;
}

.select {
  --background: var(--ion-color-myColor-contrast);

  margin-top: 21px;
  height: 50px;

  border: 1px solid #CDD4D9;
  border-radius: 8px;

  transition: .3s all;
}

.container:hover {
  border-color: var(--ion-color-myColor);
}

ion-item.item-has-focus>ion-label {
  color: var(--ion-color-myColor) !important;
}

.btnServicio {
  height: 83px;
  width: 83px;

  --border-radius: 14px;

  --background: #D6B0F2;

  color: var(--ion-color-myColor-contrast);
  font-family: Segoe UI;
  font-size: 12px;
}

.textarea {
  --background: var(--ion-color-myColor-contrast);

  margin-top: 21px;
  height: 66px;

  border: 1px solid #CDD4D9;
  border-radius: 8px;

  transition: .3s all;
}

.agregar {
  padding-top: 13px;
  display: flex;
  justify-content: center;
}

.btn {
  height: 70px;
  width: 332px;
  margin-bottom: 12px;

  --border-radius: 40px;
  --border-color: var(--ion-color-myColor-contrast): --border-style: solid;
  --border-width: 2px;

  --color: var(--ion-color-myColor-contrast);
  font-family: Segoe UI;
  font-size: 25px;
  font-weight: bold;
}

.Agregar {
  --color: var(--ion-color-myColor-contrast);
  --color-activated: var(--ion-color-myColor);

  --background: var(--ion-color-myColor);
  --background-activated: var(--ion-color-myColor-contrast);
}

ion-select {
  width: 100%;
}

ion-select::part(text) {
  color: var(--ion-color-myColor);
}

ion-select::part(icon) {
  color: var(--ion-color-myColor);
  opacity: 1;
}

.ListaClinica {
  margin-top: 12px;

  --border-radius: 25px;
  --border-color: #707070;
  --border-style: solid;
  --border-width: 2px;
}

.nombrecli {
  color: black;
  font-family: Segoe UI;
  font-size: 20px;
}

.precioSer {
  color: var(--ion-color-myColor);
  font-weight: bold;
  font-family: Segoe UI;
  font-size: 20px;
}

.icon {
  color: var(--ion-color-myColor);
  font-size: 20px;
}

.calificacion {
  color: var(--ion-color-myColor);
  font-family: Segoe UI;
  font-size: 20px;
}

.calitem {
  bottom: 10px;
}

.btnver {
  width: 90px;
  --border-radius: 25px;
  --background: var(--ion-color-myColor);
}

.clinciaInfo {
  margin-top: 43px;
}
