
<ion-content>
  <div class="felxcenter">
    <p>califica su servicio</p>

    <!-- <h3> <b>{{cal.nombreCli}}</b> </h3> -->
    <h3> <b> Mascotylove</b> </h3>
    <ion-item lines="none" class="starsGroup">
      <ion-icon name="star" style="cursor: pointer;" onclick="calicar(this)" id="1estrella"></ion-icon>
      <ion-icon name="star" style="cursor: pointer;" onclick="calicar(this)" id="2estrella"></ion-icon>
      <ion-icon name="star" style="cursor: pointer;" onclick="calicar(this)" id="3estrella"></ion-icon>
      <ion-icon name="star" style="cursor: pointer;" onclick="calicar(this)" id="4estrella"></ion-icon>
      <ion-icon name="star" style="cursor: pointer;" onclick="calicar(this)" id="5estrella"></ion-icon>
    </ion-item>
    <ion-label> 4 </ion-label>
  </div>
</ion-content>
