ion-content {
  --background: var(--ion-color-myColor-contrast);
}

.arrowBack {
  color: var(--ion-color-myColor);
  font-size: 30px;
  padding-left: 13px;
}

.marit {
  margin: 10px;
}

.btnCerrar {
  height: 60px;
  width: 332px;

  --border-radius: 40px;
  --border-color: var(--ion-color-myColor-contrast): --border-style: solid;
  --border-width: 2px;

  --color: var(--ion-color-myColor-contrast);
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: bold;

  --color-activated: var(--ion-color-myColor-contrast);

  --background: var(--ion-color-myColor);
  --background-activated: var(--ion-color-myColor-contrast);
}

.btnToolBar {
  position: fixed;

  --background: var(--ion-color-myColor);

  --border-radius: 50%;

  width: 49px;
  height: 49px;

  top: 2px;
  left: 2px;
}

.iconoMenu {
  font-size: 64px;
  --ionicon-stroke-width: 50px;
}

div {
  padding: 0px 43px 0px 43px;
  display: flex;
  flex-direction: column;

  color: black;
}

h3 {
  font-family: Segoe UI;
  font-size: 20px;
  margin: 0;
}

.btnslide-item {
  --background: var(--ion-color-myColor-contrast);

  height: auto;

  border: 2px solid #707070;
  border-radius: 20px;
}

ion-item-sliding {
  margin-top: 18px;
}

ion-item-option {
  border-radius: 20px;
}

ion-list{
  margin-right: 10px;
  margin-left: 10px;
}

.alingcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--ion-color-myColor);

  font-family: Segoe UI;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icono {
  font-size: 30px;
}
