<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" [formGroup]="form">
    <h3>Recuperar contraseña</h3>
    <!-- Email input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Correo electronico</ion-label>
      <ion-input type="email" formControlName="email" placeholder="michael@gmail.com"></ion-input>
      <!-- Validator message email -->
      <ion-note slot="error" color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.required">
        Correo es obligatorio</ion-note>
      <ion-note slot="error" color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.email">
        Correo invalido</ion-note>
    </ion-item>
    <!-- Recuperar btn -->
    <ion-label class="recuperar">
      <ion-button class="btn Recuperar" mode="ios" [disabled]="!form.valid" (click)="onReset()">Recuperar</ion-button>
    </ion-label>
  </form>
</ion-content>
