<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="">
    <h3>Recuperar cuenta</h3>
    <div class="input-container">
      <label for="">Correo electronico *</label>
      <input type="email" name="correo" class="input" placeholder="michael@gmail.com">
    </div>
    <div class="btn">
      <input type="submit" value="Recuperar" class="btnRecuperar">
    </div>
  </form>
</ion-content>
