<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" [formGroup]="form">
    <h3>Recuperar cuenta</h3>
    <div class="input-container">
      <label for="">Correo electronico *</label>
      <input type="email" formControlName="email" name="correo" class="input" placeholder="michael@gmail.com">
    </div>
    <!-- Validation message email -->
    <ion-label class="valEmail" color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.required">Correo es obligatorio</ion-label>
    <ion-label class="valEmail" color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.email">Correo invalido</ion-label>
    <!-- ======================== -->
    <div class="btn">
      <input type="submit" value="Recuperar" class="btnRecuperar" [disabled]="!form.valid">
    </div>
  </form>
</ion-content>
