<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <div>
      <ion-icon class="closeIcon" name="close-outline"></ion-icon>
    </div>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <form action="" class="flex-center">
    <div class="checkmark">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
      </svg>
    </div>
    <h2>Cuenta creada<br>Exitosamente!</h2>
    <p>Ahora puedes iniciar sesion</p>
    <div class="btn">
      <input type="submit" value="Iniciar Sesion" class="btnIniciar">
    </div>
  </form>
</ion-content>
