ion-content{
    --background: var(--ion-color-myColor-contrast);
}

ion-toolbar{
    --ion-toolbar-background: var(--ion-color-myColor-contrast);
}

.closeIcon{
    font-size: 30px;
    color: var(--ion-color-myColor);
    padding: 27px 27px 0px;
}

.flex-center{
    margin-top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Segoe UI;
}

.checkmark{
    background-color: #E8D3F8;
    width: 118px;
    height: 118px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--ion-color-myColor);
}

svg{
    height: 64px;
}

p{
    margin-top: 0;
}

.btnIniciar{
    color: var(--ion-color-myColor-contrast);
    font-size: 25px;
    font-weight: 600;

    width: 332px;
    height: 70px;
    background-color: var(--ion-color-myColor);
    border: 2px solid var(--ion-color-myColor-contrast);
    border-radius: 40px;
    
}

.btn{
   margin-top: 53px;
}