<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createUser">
    <!-- (ngSubmit)="onSubmit()" -->
    <h3>Crear una cuenta</h3>
    <!-- Nombre input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Nombres</ion-label>
      <ion-input type="text" placeholder="Nombre" [clearInput]="true" formControlName="nombre"></ion-input>
      <!-- Validator message Nombre -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('nombre').touched && createUser.get('nombre').errors?.required">
        Nombres obligatorios</ion-note>
      <ion-note slot="error" color="danger" *ngIf="createUser.get('nombre').errors?.minlength">
        Min 2 caracteres</ion-note>
    </ion-item>

    <!-- Apellidos input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Apellidos</ion-label>
      <ion-input type="text" placeholder="Apellido" [clearInput]="true" formControlName="apellidos"></ion-input>
      <!-- Validator message Apellidos -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('apellidos').touched && createUser.get('apellidos').errors?.required">
        Apellidos obligatorios</ion-note>
      <ion-note slot="error" color="danger" *ngIf="createUser.get('apellidos').errors?.minlength">
        Min 2 caracteres</ion-note>
    </ion-item>

    <!-- Correo input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Correo electronico</ion-label>
      <ion-input type="email" placeholder="michael@gmail.com" [clearInput]="true" formControlName="email"></ion-input>
      <!-- Validator message email -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('email').touched && createUser.get('email').errors?.required">
        Correo es obligatorio</ion-note>
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('email').touched && createUser.get('email').errors?.email">
        Correo invalido</ion-note>
    </ion-item>

    <!-- Contraseña_1 input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Ingrese una contraseña</ion-label>
      <ion-input [minlength]="6" type="password" placeholder="************" formControlName="password"></ion-input>
      <!-- Validator message password -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('password').touched && createUser.get('password').errors?.required">
        Contraseña obligatoria</ion-note>
      <ion-note slot="error" color="danger" *ngIf="createUser.get('password').errors?.minlength">
        Min 6 caracteres</ion-note>
    </ion-item>

    <!-- Contraseña_2 input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Reptia la contraseña</ion-label>
      <ion-input [minlength]="6" type="password" placeholder="************" formControlName="repeatPassword">
      </ion-input>
      <!-- Validator message password -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('repeatPassword').touched && (createUser.get('password').value !== createUser.get('repeatPassword').value)">
        La contraseña no es igual</ion-note>
    </ion-item>

    <!-- Numero documento input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Numero de documento</ion-label>
      <ion-input [minlength]="6" maxlength="12" type="text" [clearInput]="true" formControlName="numDoc"></ion-input>
      <!-- Validator message password -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('numDoc').touched && createUser.get('numDoc').errors?.required">
        Numero de documento obligatorio</ion-note>
      <ion-note slot="error" color="danger" *ngIf="createUser.get('numDoc').errors?.minlength">
        Min 10 caracteres</ion-note>
    </ion-item>

    <!-- Numero contacto input -->
    <ion-item lines="none" class="input-container">
      <ion-label class="inputText" position="floating">Numero de celular</ion-label>
      <ion-input minlength="6" maxlength="14" type="tel" [clearInput]="true" formControlName="numCel"></ion-input>
      <!-- Validator message password -->
      <ion-note slot="error" color="danger"
        *ngIf="createUser.get('numCel').touched && createUser.get('numCel').errors?.required">
        Numero de contacto obligatorio</ion-note>
      <ion-note slot="error" color="danger" *ngIf="createUser.get('numCel').errors?.minlength">
        Min 10 caracteres</ion-note>
    </ion-item>

    <!-- siguiente btn -->
    <ion-label class="siguiente">
      <ion-button class="btn Siguiente" mode="ios" [disabled]="!createUser.valid" (click)="agregarUsuer()">Siguiente</ion-button>
    </ion-label>

  </form>
</ion-content>
