ion-content {
  --background: none;
}

body {
  background: url(/assets/Fondo01.png) no-repeat fixed center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor_botones {
  padding: 75px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.btn {
  height: 60px;
  width: 300px;
  margin-bottom: 12px;

  --border-radius: 40px;
  --border-color: var(--ion-color-myColor-contrast): 
  --border-style: solid;
  --border-width: 2px;

  --color: var(--ion-color-myColor-contrast);
  font-family: Segoe UI;
  font-weight: 650;
  font-size: 20px;
}

.InSesion {
  --color: var(--ion-color-myColor);
  --color-activated: var(--ion-color-myColor-contrast);
  
  --background: var(--ion-color-myColor-contrast);
  --background-activated: var(--ion-color-myColor);
}

.Registrar {
    --color-activated: var(--ion-color-myColor);
    
    --background-activated: var(--ion-color-myColor-contrast);
}
